

.form a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 48px;
}
.form div{
    display: flex;
    flex-direction: column;
}
.form__logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    display: none;
}

.form__label {
    font-size: var(--sm);
    font-weight: bold;
    margin-top: 4px;
}
.form__value--text{
    color: var(--very-light-pink);
    font-weight: bold;
    margin: 8px 0 32px 0;
}
.form__input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 8px;
}
.form__email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.form__email-image img{
    width: 80px;
}
.form__input--email {
    margin-bottom: 22px;
}

.form__button {
    margin-top: 16px;
    margin-bottom: 28px;
}

.resend__text {
    font-size: var(--sm);
    margin-bottom: 8px;
}
.resend__text span {
    color: var(--very-light-pink);
}
.resend__text a {
    color: var(--hospital-green);
    font-weight: bold;
    text-decoration: none;
}
.form__input--name, .form__input--email, .form__input--password {
    margin-bottom: 22px;

}


@media (max-width: 640px){
    .form__logo{
        display: block;
    }
}
@media (min-height: 350px ) and ( max-height: 850px) {
    .signup__button {
        position: absolute;
        bottom: 18px;
        width: inherit;
    }
}
