
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px ;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    height: 48px;
}