.order__detail {
    display: grid;
    grid-template-columns: auto 1fr auto ;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order__detail p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order__detail p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.order__detail p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order__detail p span:nth-child(2) {
    font-size:  var(--sm);
    color: var(--very-light-pink);
}
